<script>
   import Page from "./../../../components/Page.svelte"
   import AgendaPreview from "./../../../components/AgendaPreview.svelte"

   export let agendas = [{label : "contact test", id :'test'}, {label : "contact test2", id :'test'}, {label : "contact test2", id :'test'}];
</script>

<Page title="Accueil">
   <div class="container">
      <div class="agendas">
         {#each agendas as agenda}
            <AgendaPreview {agenda} href={`/agenda/${agenda.id}`} />
         {/each}
         <AgendaPreview add />
      </div>   
   </div>
</Page>

<style lang="scss">
   .container {
      width: 100%;
      display: flex;
      justify-content: center;

      .agendas {
         width: 50%;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap : 5vh;
      }
   }
</style>