<script>
   import Agenda from "../../../../components/Agenda.svelte";
   import Page from "./../../../../components/Page.svelte";
   
   export let test = {label : 'Agenda test', contacts : [
         {lastname : 'Doe', firstname : 'John'},
         {lastname : 'Doe', firstname : 'John'},
         {lastname : 'Doe', firstname : 'John'},
         {lastname : 'Doe', firstname : 'John'},
         {lastname : 'Doe', firstname : 'John'},
      ]};
</script>

<Page title={test.label} goBackHref="/home">
   <Agenda contacts={test.contacts} />
</Page>

