<script>
   import Contact from "../../../../components/Contact.svelte";
   import Page from "./../../../../components/Page.svelte";
   
   export let test = {firstname : 'John', lastname : 'Doe', phone : [
         {value : '0617356565', name : 'test'},
         {value : '0325245585', name : 'test'}],
         email : [
            {value : 'contatc@gmail.com', name : 'test'},
         ],
         site : [
            {value : 'https://test.com', name : 'test'},
         ],
         address : [
            {name : 'address test', street : 'test'},
         ]
         };
</script>

<Page title={test.firstname + test.lastname} goBackHref={`/agenda/test`}>
   <Contact />
</Page>