<script>
   import ContactPreview from "./ContactPreview.svelte";

   export let contacts;
</script>

<div class="container">
   <div class="agendas">
      {#each contacts as contact}
         <ContactPreview {contact} href={`/contact/test`} />
      {/each}
      <ContactPreview add/>
   </div>
</div>

<style lang="scss">
   .container {
      width: 100%;
      display: flex;
      justify-content: center;

      .agendas {
         width: 50%;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap : 5vh;
      }
   }
</style>