<script>
   export let contactDetails;
</script>

<div class="container">
   <div class="agendas">
      {#each contactDetails as detail}
      <div>
         <p>{detail.name} :</p>
         <p>{detail.value}</p>
      </div>
         
      {/each}
   </div>
</div>

<style lang="scss">
   .container {
      width: 100%;
      display: flex;
      justify-content: center;

      .agendas {
         width: 50%;
         display: flex;
         flex-direction: column;
         align-items: center;
         border: 3px solid black;
         border-radius: 10px;
         padding: 2vw;
         background-color: rgb(225, 225, 225);

         div {
            color: black;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 5vh;
         } 
      }
   }
</style>