<script>
   export let contact;
   export let href;
   export let add = false;

   let edit = false;
</script>

<div class="container">
   {#if !edit && !add}
      <a {href}>{contact.firstname} {contact.lastname}</a>
   {:else if edit ||add}
      <div class="inputs">
         <input value={contact?.firstname ?? ''} placeholder="Prénom" /> 
         <input value={contact?.lastname ?? ''} placeholder="Nom" /> 
      </div>
   {/if}
   <div class="buttons">
      {#if edit || add}
         <button class="check" on:click={() => edit = false}/>
      {:else if !edit && !add}
         <button class="pen" on:click={() => edit = true}/>
      {/if}
      {#if !add}
      <button class="close" on:click={() => {if(edit) edit = false}} />
      {/if}
   </div>
</div>

<style lang="scss">
   .container {
      width: 100%;
      border: 3px solid black;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(225, 225, 225);
      gap: 2vw;
      padding: 2vh 2vw;
      font-size: 5vh;

      a {
         color: black;
         text-decoration: none;
      }

      a:hover {
         color: blue;
      }

      input {
         height: 5vh;
         border-radius: 5px;
         font-size: 5vh;
         max-width: 40%;
      }
      

      .buttons {
         display: flex;
         gap: 2vw;

         .close, .pen, .check {
            height: 5vh;
            width: 5vh;
            background-size: cover;
            cursor: pointer;
            background-color: transparent;
            border: 0;
         }

         .close {
            background-image: url('/cross.png');
         }

         .pen {
            background-image: url('/pen.png');
         }

         .check {
            background-image: url('/check.png');
         }

         .close:hover {
            background-image: url('/red_cross.png');
         }

         .pen:hover {
            background-image: url('/blue_pen.png');
         }

         .check:hover {
            background-image: url('/green_check.png');
         }
      }
   } 
</style>