<script>
   export let title = undefined;
   export let goBackHref = undefined;
</script>

<div class="header">
   {#if goBackHref}
      <a href={goBackHref}><div /></a>
   {/if}
   <div class="title">
      <h1>{title}</h1>
   </div>
</div>
<div class="content">
   <slot></slot>
</div>


<style lang="scss">
   .header {
      height: 15vh;
      width: 100%;
      border-bottom: 2px solid black;
      background-color: rgb(225, 225, 225);
      display: flex;
      align-items: center;
      padding: 0 2vw;

      a {
         cursor: pointer;

         div {
            height: 8vh;
            width: 8vh;
            background-size: cover;
            background-image: url('/arrow_back.png');
         }

         div:hover {
            background-image: url('/blue_arrow_back.png');
         }
      }

      .title {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         
         
         h1 {
            text-align: center;
            font-size: 8vh;
            font-family: Arial, Helvetica, sans-serif;
         }
      }
   }  

   .content {
      margin-top: 5vh;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
   }
</style>